<% remote_form_for @comment do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.hidden_field :post_id %>
  </div>
  <div>
    <%= f.text_field :name %> &nbsp;
    <%= f.label :name, I18n.t('activerecord.attributes.comment.name') %> <span class="required">*</span>
  </div>
  <div>
    <%= f.text_field :email %> &nbsp;
    <%= f.label :email, I18n.t('activerecord.attributes.comment.email') %>
  </div>
  <div>
    <%= f.text_field :site_url %> &nbsp;
    <%= f.label :site_url, I18n.t('activerecord.attributes.comment.site_url') %>
  </div>
  <div>
    <%= f.text_area :content, :rows => 10 %>
  </div>
  <div>
    <%= f.submit I18n.t('form.submit') %>
  </div>
<% end %>
